# Compiled Object files
*.o
*.obj
*.exe
*.out
*.dll
*.lib
*.a

# Build directories
bin/
build/
out/
Debug/
Release/

# CMake
CMakeLists.txt.user
CMakeFiles/
CMakeCache.txt

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
*.sdf
*.suo

# Editor temp files
*.swp
*~
